* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: #d7e4ff;
  text-align: center;
  margin: auto;
  max-width: 950px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: #d7e4ff;
  outline: none; /* Remove outline */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 3rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 50%;
  max-width: 175px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.5s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
     background: #131313;
     top: 100%;
     opacity: 1;
     transition: all 0.5s ease;
     z-index: 99;
     height: 70vh;
     font-size: 1.6rem;
   }

   #navbar__logo {
     padding-left: 25px;
   }

   .navbar__toggle .bar {
     width: 25px;
     height: 3px;
     margin: 5px auto;
     transition: all 0.3s ease-in-out;
     background: #fff;
   }

   .navbar__item {
     width: 100%;
   }

   .navbar__links {
     text-align: center;
     padding: 2rem;
     width: 100%;
     display: table;
   }

   .navbar__btn {
     padding-bottom: 2rem;
   }

   #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Name CSS */
.Name__Container {
  padding-top: 3rem;
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  max-width: 900px;
}

.Name__Container h1{
  animation: 2s Name__Container;
}

.Name__Container h2{
  animation: 3s Name__Container;
}

@keyframes Name__Container {
  from {
     margin-left: -1900px;
  }

  to {
     margin-left: 0%;
  }
}

hr {
  position: relative;
  top: 20px;
  border: none;
  height: 4px;
  background: black;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  max-width: 1200px;
  animation: 3s hr;
}

@keyframes hr {
  from {
     margin-left: -1900px;
  }

  to {
     margin-left: 0%;
  }
}

/* About Me CSS */
.About__Me__Container {
  margin: auto;
  border: solid black;
  border-width: 3px;
  width: 40%;
  font-size: .85rem;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
}

.About__Me__Text {
  margin-top: 2em;
  align-items: center;
  font-size: 1.4rem;
  border: solid black;
  border-width: 3px;
  width: 100%;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
}

/* Featured Projects CSS */
.Featured__Projects__Container {
  margin: auto;
  border: solid black;
  border-width: 3px;
  width: 40%;
  font-size: .85rem;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
}


/* Video Size */
video {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* Slideshow Container */
.slideshow__Container {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  max-width: 950px;
  border: solid black;
  border-width: 5px;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

/* Hide Videos by default */
.mySlides {
  display: none;
}

/* Next and Previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f77062;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
  opacity: 0.8;
}

.slideshow__Container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.other__container{
  text-decoration: none;
  color: white;
}

.playstore__design {
  text-decoration: underline;
  color: white;
}

#footer__container {
text-align: center;
padding: 3px;
background-color: black;
color: white;
}

/* Project Section */

/* Projects__Container */
.project__container
{
  padding-top: 3rem;
  font-size: 1.2rem;
  width: 40%;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.project__container h1 {
  animation: 3s project__container;
  text-decoration: underline;
}

@keyframes project__container{
  from {
     margin-left: -1900px;
  }

  to {
     margin-left: 0%;
  }

}

.project_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.project__item {
    width: 200px;
}

.project__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: black;
  max-width: 100px;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 8s;
  -moz-animation: fadeIn 8s;
  margin: 0 auto;
  justify-content: space-between;
}

.project__links:hover {
  color: #f77062;
  transition: all 0.5s ease;
}

/* Solo Projects Section */

.solo__project__container {
  margin: auto;
  border: solid black;
  width: 40%;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.rollerball__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.rollerball__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.infinite_runner__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.infinite_runner__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.horror_vr__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.horror_vr__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.horror_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.random_level__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.random_level__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.random_level_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.stealth_ai__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.stealth_ai__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.stealth_ai_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.multiplayer_fps__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.multiplayer_fps__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.multiplayer_fps_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.ecs__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.ecs__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.ecs_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.openGL__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.openGL__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.openGL_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.fmp__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.fmp__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.fmp_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

/* Team Project Section */

.team__project_container {
  margin: auto;
  border: solid black;
  width: 40%;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.elemental_force__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.elemental_force__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.elemental_force_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.rebirth_of_athena__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.rebirth_of_athena__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.rebirth_of_athena_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.awayhome__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.awayhome__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.awayhome_image {
  padding-top: 2rem;
  display: flex;
  max-width: 350px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.awayhome_downloadlink {
  color: black;
  font-size: 24px;
  margin: auto;
  padding-top: 5rem;
  text-decoration: none;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.donut__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.donut__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.donut_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.mobile__downloadlink {
  color: black;
  font-size: 24px;
  margin: auto;
  padding-top: 5rem;
  text-decoration: none;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.treaure_thieves__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.treaure_thieves__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.treaure_thieves_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.gangguys__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.gangguys__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.gangguys_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.narrative__container {
  padding-top: 3rem;
  text-decoration: underline;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

.narrative__text {
  max-width: 700px;
  border: solid black;
  font-size: 18px;
  text-align: left;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}
.narrative_video {
  padding-top: 2rem;
  display: flex;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
}

/* Contact Section */
.contact__container
{
  padding-top: 3rem;
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.contact__container h1 {
  animation: 3s contact__container;
  text-decoration: underline;
}

@keyframes contact__container{
  from {
     margin-left: -1900px;
  }

  to {
     margin-left: 0%;
  }
}

.form-group {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  width: auto;
  max-width: 1200px;
  margin: auto;
}
